@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        /* Primitive Tokens */
        --color-background: 0 0% 9%;
        --color-yellow: 34 100% 42%;
        --color-gray: 0 0% 61%;
        --color-light-gray: 0 0% 18%;
        --color-white: 0 0% 100%;
        --color-black: 0 0% 0%;
        --color-green: 100 36% 51%;
        
    }
}